<!doctype html>
<html lang="en">
<title>Clustering Workshop Tool</title>
<nav>
  <h1>Clustering Workshop Tool</h1>
</nav>

<p>Enter your data in <a href="https://google.com/sheets">Google Sheets</a>.
Click the "Share" button in the upper right hand corner of the screen. Be sure
link sharing is set to allow access to the file.</p>

<form action="/cluster" method="post">
    <p>
        <input id="url" name="url" type="text"><br>
        <label for="url">Google Sheets URL</label>
    </p>
    <p>
        Linkage Method<br> 
        <input checked="checked" name="linkage" type="radio" value="complete"> <label for="linkage">Complete</label><br>
        <input name="linkage" type="radio" value="single"> <label for="linkage">Single</label><br>
    </p>
    <p>
        <input type="submit">
    </p>

    
    
</form>
