<!doctype html>
<html lang="en">
<title>Clustering Workshop Tool</title>
<nav>
  <h1>Clustering Workshop Tool</h1>
</nav>

<p>Enter your data in <a href="https://google.com/sheets">Google Sheets</a>.
Click the "Share" button in the upper right hand corner of the screen. Be sure
link sharing is set to allow access to the file.</p>

<form action="/cluster" method="post">
    <h3><label for="url">Google Sheets URL</label></h3>
    <p>
        <input id="url" name="url" type="text"><br>
    </p>
    <h3>Linkage Method</h3>
    <p>
        <input checked="checked" name="linkage" type="radio" value="complete"> <label for="linkage">Complete</label><br>
        <input name="linkage" type="radio" value="single"> <label for="linkage">Single</label>
    </p>
    <h3>Output</h3>
    <p>
        <input name="output" type="radio" value="graph"> <label for="output">Graph</label><br>
        <input name="output" type="radio" value="dendrogram"> <label for="output">Dendrogram</label><br>
        <input checked="checked" name="output" type="radio" value="matrix"> <label for="output">Matrix</label>
    </p>
    <h3>Cutoff (for graph output only)</h3>
    <p>
        <select name="cutoff">
            <option selected="selected" value="2">2</option>
            <option value="1">1</option>
        </select>
    </p>
    <p>
        <input type="submit">
    </p>

    
    
</form>
